vpc_config:
  securityGroupIds:
    - sg-xxxxx
  subnetIds:
    - subnet-xxxxx-1
    - subnet-xxxxx-2
iam_role_statements:
  -  Effect: "Allow"
     Action:
       - "sts:GetCallerIdentity"
     Resource:
       - "*"
  -  Effect: "Allow"
     Action:
       - "eks:DescribeCluster"
     Resource:
       - "*"
aws_region: aws-region-id
