[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "==1.9.220"
botocore = "==1.12.220"
cachetools = "==3.1.1"
certifi = "==2019.6.16"
chardet = "==3.0.4"
crhelper = "==2.0.4"
docutils = "==0.15.2"
google-auth = "==1.6.3"
idna = "==2.8"
jmespath = "==0.9.4"
kubernetes = "==10.0.1"
oauthlib = "==3.1.0"
pyasn1 = "==0.4.6"
pyasn1-modules = "==0.2.6"
python-dateutil = "==2.8.0"
requests = "==2.22.0"
requests-oauthlib = "==1.2.0"
rsa = "==4.7"
s3transfer = "==0.2.1"
six = "==1.12.0"
urllib3 = "==1.25.3"
PyYAML = "==5.1.2"
websocket_client = "==0.56.0"
pytest = "*"
assertpy = "*"

[requires]
python_version = "3.8"
